
/*media query*/
/* Extra small devices (phones, 700px and down) */
@media  (max-width: 700px) {
    
    body{
        overflow-x: hidden;
    }

    #phonesym{
        display: block;
        color: white;
    }

    h1{display: none;}

    #email{display: none;}
    #emailsym{display: block;}


    /* hide normal menu */
    .topnav{display: none;}

    .mobnav #myLinks{
        overflow: hidden;
        background-color: #00acf2;
        position: relative;
        display: none;
    }

    .flex-container-contact{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20pt;
        flex-wrap: wrap;
    
    }
    
    #info{
        padding: 3%;
    }


.mobnav a {
    color:white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17;
    display: block;
    background-color: #00acf2;
}

.active{
    background-color: #00acf2;
    color: white;
}









 
    p{font-size: 14pt;}
    #van{max-width: 350px;
        height: auto;
        margin: 5%;
 }
    #logo{
        width: 80%;
    }

    #email{
        padding-right: 5%;
        font-size: 16pt;
        text-decoration: none;
    }
    h1{ font-size: 16pt;}
   
}   
    