
.flex-container{
    display: flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18pt;
    flex-wrap: wrap;

}

.flex-container-contact{
display: flex; 
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

justify-content: space-between; 
color: white;
    margin: 0;
    background-color: #00acf2;
    align-items: center;
}
#myLinks{
display: none;
}

#phlogo{display: none;}

h1{
    font-weight: normal;
    padding-left:2%;
}

#phonesym{
    display: none;
}
#emailsym{
    display: none;
}

.flex-container-van{
    display:flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    flex-wrap: wrap;
    margin: 2%;
    
    align-items: center;
    justify-content: center;
 

}


#pho{
    width: 350px;
    height: 350px;
    margin: 5%;
    border: 10pt;
}

#van{   
    max-width: 350px;
    height: auto;
    margin: 5%;
}

#logo{
    height: 60%;
    width: 60%;
    margin: 0.5%;    
}


#info{
    max-width: 450px;
    height: auto;
}
#infoabout{
    max-width: 450px;
    height: auto;
    text-align: left;
    padding: 5%;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
   text-align: center;
    
}

.wcinfo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    size: 16pt;
    text-align: left;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
}

.topnav{
    background-color: #00acf2;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}




/*normal links*/
.topnav a{
    text-align: center;
    text-decoration: none;
    color: white;
    float:left;
    padding: 14px 16px;

    }

/*subnav menu*/
.subnav{
    float: left;
    overflow: hidden;
}


/*dropdown button*/
.subnav .subnavbtn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    border: none;
    outline: none;
    color:white;
    padding: 8pt;
    background-color: inherit;
    margin: 0;
}

/*dropdown content Hidden by default)*/
.subnav-content{
    display: none;
    position: absolute;
    left: 10%;

    width: fit-content;
    z-index: 1; 
}

/*style subnav links*/
.subnav-content a{
    float: left;
    text-decoration: none;

   
}


/*show submenu on hover*/
.subnav:hover .subnav-content{
    display: block;

 background-color: #00acf2;

}




.contact{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20pt;
    padding-left: 10%;
   display: inline-block;
}   

a:link{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    text-align: right;

    padding:8pt;
    color:white;

    

}


#email{
    /* padding-right: 5%; */
    font-size: 20pt;
    text-decoration: none;
}

    /*media query*/
/* large ( 600px +)
@media  (min-width: 601px) {
    .mobnav{display: none;}
}
 */
 footer{
    background-color: #00acf2;
    padding: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    ;
    
    
 }
#phone {
    display: block;
    margin:auto;
    padding: 2%;
}


#mailfoot{
    display: block;
    margin:auto;
    padding-top: 2%;
    text-decoration: none;

 
}
#fb{
    display: block;
margin:auto;
float: right;

}

body{max-width: 1024px;
    margin-left: auto;
    margin-right: auto;

}

#card{
    max-width: 450px;
}

h2{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;}

.prices{
    

    text-align: center;
    border: 10px solid #00acf2;
    padding: 10px;
    a:link{color: #00acf2;}

}

#st{
    width: 150px;
    height: auto;

}

#solar{
    
    width: 300px;
}

#consquote{
background-color: #00acf2;
color: white;
padding: 5%;
}

#gutprice{
    background-color: #00acf2;
color: white;
padding: 5%;
font-size: 20pt;
    
}