



.flex-container{
    display: flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    flex-wrap: wrap;

}

.flex-container-contact{
display: flex; 
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

justify-content: space-between; 
color: white;
    margin: 0;
    background-color: #00acf2;
    align-items: center;
}
#myLinks{
display: none;
}

#phlogo{display: none;}

h1{
    font-weight: normal;
    padding-left:2%;
    font-size: 24pt;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}

h2{
    font-weight: normal;
    font-size: 18pt;
    padding-left: 2%;
}

#phonesym{
    display: none;
}
#emailsym{
    display: none;
}

.flex-container-van{
    display:flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    flex-wrap: wrap;
    margin: 2%;
    
    align-items: center;
    justify-content: space-evenly;
 

}

#info{

    text-align: center;
    line-height: 1.5;
    font-size: 14pt;
}

.pho{
    width: 350px;
    height: 350px;
    margin: 5%;
    border: 10pt;
}

#van{   
    max-width: 350px;
    height: auto;
    margin: 5%;
}

#logo{
    height: 60%;
    width: 60%;
    margin: 0.5%;    
}


#info{
    max-width: 450px;
    height: auto;
}
#infoabout{
    max-width: 400px;
    height: auto;
    text-align: left;
    padding: 5%;
    line-height: 1.5;
}

#infowater{
    display: flex;
    line-height: 1.5;
}

p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
   text-align: center;
   line-height: 1.5;
    
}

.wcinfo{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    text-align: left;
    display: flex;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}

.wctext{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    text-align: left;
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}


/* .noaccess{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    text-align: left;
    display: block;
    padding-left: 5%;
    padding-right: 5%;
    align-items: center;
    justify-content: center;
    border: solid 4px #00acf2;
    margin:2%
} */

.topnav{
    background-color: #00acf2;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}




/*normal links*/
.topnav a{
    text-align: center;
    text-decoration: none;
    color: white;
    float:left;
    padding: 14px 16px;

    }

/*subnav menu*/
.subnav{
    float: left;
    overflow: hidden;
}


/*dropdown button*/
.subnav .subnavbtn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    border: none;
    outline: none;
    color:white;
    padding: 8pt;
    background-color: inherit;
    margin: 0;
}

/*dropdown content Hidden by default)*/
.subnav-content{
    display: none;
    position: absolute;
    left: 10%;

    width: fit-content;
    z-index: 1; 
}

/*style subnav links*/
.subnav-content a{
    float: left;
    text-decoration: none;

   
}


/*show submenu on hover*/
.subnav:hover .subnav-content{
    display: block;

 background-color: #00acf2;

}




.contact{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    padding-left: 10%;
   display: inline-block;
}   

a:link{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    text-align: right;

    padding:8pt;
    color:white;

    

}


#email{
    /* padding-right: 5%; */
    font-size: 16pt;
    text-decoration: none;
}

    /*media query*/
/* large ( 600px +)
@media  (min-width: 601px) {
    .mobnav{display: none;}
}
 */
 footer{


    background-color: #00acf2;
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    display: flex;
 
    
    
 }

 #phonefoot{
    font-size: 14pt;
 }
#phone {
    display: block;
    margin:auto;
    padding: 2%;
}


#mailfoot{
    display: block;
    margin:auto;

    text-decoration: none;

 
}
#fb{
    display: block;
margin:auto;
float: right;

}

body{max-width: 1024px;
    margin-left: auto;
    margin-right: auto;

}

#card{
    max-width: 450px;
    padding-bottom: 5%;
    
}

h2{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
text-align: center;}

.prices{
    

    text-align: center;
    border: 10px solid #00acf2;
    padding: 10px;
    margin:2%;
}

/* a:link{color: #00acf2;} */

#st{
    width: 150px;
    height: auto;

}

#solar{
    
    width: 300px;
}
.textbox{
    width:450px;
    padding: 5%;
    text-align: left;
    line-height: 1.5;
}

#consquote{
background-color: #00acf2;
color: white;
padding: 5%;
}

#gutprice{
    background-color: #00acf2;
color: white;
padding: 5%;
font-size: 16pt;
    
}

#list{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14pt;
    background-color: #00acf2;
    color: white;
    padding-left: 5%;
    padding-right:5%;
    padding-bottom: 2%
}   
h3{ 
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0;
    font-weight: normal;
    text-decoration: underline;
}

#contacts{
    color:black;
    display:block;
    font-size: 16pt;
    text-decoration: none;
    text-align: center;
    padding: 3%;

}

.fbk{
    color: #316ff6;
}

.contacts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: black;
}
.contacts a:link{

    color: black;
    text-decoration: none;
}


.fa-ul{

    list-style-type: none;
    margin-left: auto !important;

    margin-right: auto !important;

    display: table;
    text-align: left;
}

.polaroid{
width: 400px;
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
margin-bottom: 25px;
text-align: center;

}

.flex-container-polar{
    display: flex;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16pt;
    flex-wrap: wrap;
    text-align: center;

}

.flex-container-polar a{
    text-decoration: none;
color: black;
}



.flex-container-polar p{
    font-size: 16pt;
    text-align: center;
    padding-bottom: 25pt;

}

.prices a{
    color: black;
}

.wctext a{
    color: black;
}

